@*********************************************************
* Page:   Create/Edit Analyst                            *
* Author: Sav                                            *
* Date:   17/10/13                                       *
*                                                        *
* @param id            The Analyst id (0 for new)        *
* @param analystForm   The Analyst Form object           *
*********************************************************@

@(  id:             Long,
    analystForm:    Form[models.Analyst],
    user:           Users
)

@import helper._
@import helper.twitterBootstrap._

@main(if(id==0){"New Analyst"} else {analystForm.get().firstname + " " + analystForm.get().lastname}, user) {

    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    @* The id should be zero if creating an Analyst, but also test for null *@
    @if(id == null || id==0) {
        <h1>New Analyst</h1>
    } else {
        <h1><span class="ecRecType">Analyst: </span>
            <span class="ecRecName">@analystForm.field("firstname").value()</span>
            <span class="ecRecName">@analystForm.field("lastname").value()</span>
        </h1>
    }

    <hr>

    @form(routes.Analysts.update(id), 'id -> "formUpload", 'enctype -> "multipart/form-data") {
    <fieldset>
        <!-- analystId needs to be set, otherwise it will be null on update -->
        <input type="Hidden" id="analystId" name="analystId" value="@id" />

        <!-- To partition fields into their tabs, need to contain links in a div of class tabbable -->
        <!-- All tab panes need containing in a div of class tab-content (these classes require bootstrap-tab.js) -->
        <!-- See http://www.w3resource.com/twitter-bootstrap/nav-tabs-and-pills-tutorial.php for reference -->
        <div class="tabbable">
            <ul class="nav nav-tabs" id="tabList">
                <li id="tabDetailsLink" class="active"><a href="#tabDetails" data-toggle="tab">Details</a></li>
                <li id="tabDesksLink"><a href="#tabDesks" data-toggle="tab">Desks</a></li>
                <li id="tabProfileLink"><a href="#tabProfile" data-toggle="tab">Profile</a></li>
                <li id="tabCvLink"><a href="#tabCv" data-toggle="tab">CV</a></li>
            </ul>
        </div>
        <br>
        <div class="tab-content">
            <div class="tab-pane active" id="tabDetails">
                @select(
                    analystForm("salutation"),
                    options(utils.Utils.optionsTitle),
                    '_label -> "Salutation:"
                )
                @inputText(analystForm("firstname"), 'style -> "width: 50%", '_label -> "Forename:")
                @inputText(analystForm("lastname"), 'style -> "width: 50%", '_label -> "Surname:")
                @* selects need the identifier of the referenced table, e.g. status.statusId *@
                @select(
                    analystForm("status.statusId"),
                    options(models.Status.options),
                    '_label -> "Status:"
                )
                @select(
                    analystForm("rank.id"),
                    options(models.Rank.options),
                    '_label -> "Rank:"
                )
                @inputText(analystForm("email"), 'style -> "width: 50%", '_label -> "Email:")
                @inputText(analystForm("emailAlternate"), 'style -> "width: 50%", '_label -> "Alternate email:")
                @inputText(analystForm("paypalAccountEmail"), 'style -> "width: 50%", '_label -> "PayPal account email:")
                @inputText(analystForm("mobile"), 'style -> "width: 50%", '_label -> "Mobile:")
                @inputText(analystForm("phone"), 'style -> "width: 50%", '_label -> "Phone:")
                @inputText(analystForm("address1"), 'style -> "width: 50%", '_label -> "Address:")
                @inputText(analystForm("address2"), 'style -> "width: 50%", '_label -> "")
                @inputText(analystForm("city"), 'style -> "width: 50%", '_label -> "City:")
                @inputText(analystForm("state"), 'style -> "width: 50%", '_label -> "State:")
                @inputText(analystForm("zip"), 'style -> "width: 50%", '_label -> "Zip code:")
                @inputText(analystForm("country"), 'style -> "width: 50%", '_label -> "Country:")
                @inputText(analystForm("countryOfResidence"), 'style -> "width: 50%", '_label -> "Country of residence:")
                @checkbox(field = analystForm("emailverified"), '_label -> "Email verified:")
                @checkbox(field = analystForm("phoneVerified"), '_label -> "Phone verified:")
                @inputText(analystForm("wikiUsername"), 'style -> "width: 50%", '_label -> "Wiki username:")
                @inputText(analystForm("highriseAccount"), 'style -> "width: 50%", '_label -> "Highrise account:")
                @checkbox(field = analystForm("contractSigned"), '_label -> "Contract signed:")
                @textarea(analystForm("positionDescription"), 'style -> "width: 100%", '_label -> "Position:")
                @textarea(analystForm("biography"), 'style -> "width: 100%", '_label -> "Biography:")
                @textarea(analystForm("academic"), 'style -> "width: 100%", '_label -> "Academic:")
                @textarea(analystForm("notes"), 'style -> "width: 100%", '_label -> "Notes:")
                @inputText(analystForm("skype"), 'style -> "width: 50%", '_label -> "Skype:")
                @textarea(analystForm("expertise"), 'style -> "width: 100%", '_label -> "Expertise:")

                @* Setting showConstraints to false will prevent "Required" from being displayed *@
                @select(
                    analystForm("primaryDesk.deskId"),
                    options(models.Desk.options),
                    '_label -> "Primary Desk:",
                    '_showConstraints -> false
                )
            </div>

            @* Display the list of assigned desks and a means to add one *@
            <div class="tab-pane" id="tabDesks">
                <div id="divDesks" class="col-4">
                    @* The desks are retrieved after the document has loaded via Ajax (see JavaScript below) *@
                </div>
                <br>
                <label for="divAddDesk">Add Desk:</label>
                <div id="divAddDesk" class="col-4">
                    <input type="Hidden" id="id" name="id" value="@id" />
                    <select id="newDesk" name="newDesk">
                        @for(desk <- Desk.getAll()) {
                            <option value="@desk.deskId">@desk.name</option>
                        }
                    </select>
                    <a class="btn btn-success btn-xs" href="#" rel="tooltip" title="Add Desk" style="vertical-align:top" onclick="addDesk();">
                        <i class="glyphicon glyphicon-plus icon-white"></i> Add
                    </a>
                </div>
                <br>
            </div>

            @* Display the profile image and a means to upload one *@
            <div class="tab-pane" id="tabProfile">
                <div id="divProfileImage" class="col-4" >
                    @* The profile image is retrieved after the document has loaded via Ajax (see JavaScript below) *@
                </div>
                <div id="divUploadProfileImage" class="col-4">
                    <br>
                    <label class="btn btn-success btn-xs filebutton">
                        <i class="glyphicon glyphicon-upload icon-white"></i> Upload an image
                        <span><input type="file" id="profile" name="profile" onchange="uploadProfileImage()"></span>
                    </label>
                </div>
                <br>
            </div>

            @* Display the CV document and a means to upload one *@
            <div class="tab-pane" id="tabCv">
                <div id="divCvDocument" class="col-4" >
                    @* The CV document is retrieved after the document has loaded via Ajax (see JavaScript below) *@
                </div>
                <div id="divUploadCvDocument" class="col-4">
                    <br>
                    <label class="btn btn-success btn-xs filebutton">
                        <i class="glyphicon glyphicon-upload icon-white"></i> Upload a CV
                        <span><input type="file" id="document" name="document" onchange="uploadCvDocument()"></span>
                    </label>
                </div>
                <br>
            </div>
        </div>
    </fieldset>
    <hr>

    <div class="actions">
        <input type="submit" value="Save" class="btn btn-primary">
        <a href="@routes.Analysts.list()" class="btn btn-warning">Cancel</a>
    </div>
    }
    <hr>

    <!-- Display the create_on field if it exists -->
    <span class="text-muted">
        @if(analystForm.field("createOn").value()!=null) {
            @utils.Utils.formatCreatedTimestamp( analystForm.get().createOn )
        }
    </span>

    @if(!(id==null || id==0)) {
        @form(routes.Analysts.delete(id), 'class -> "topRight",  'onsubmit -> "return confirmDelete()") {
            <input type="submit" value="DELETE" class="btn btn-danger btn-xs">
        }
    }

    <!-- This div shows a loading message and animation used in combination with blockUI -->
    <div id="domMessage" style="display:none">
        <h4>Loading... &nbsp;&nbsp; <img src='@routes.Assets.at("images/loading animation.gif")'/></h4>
    </div>

    <script type="text/javascript">

        // Get embedded html via Ajax after the document has loaded
        $(document).ready(function(){
            getProfileImage();
            getCvDocument();
            getDesks();
        });

        // Get the list of desks assigned to the analysts (and prevent caching in IE)
        function getDesks() {
            var url = "/analysts/@id/desks";
            var updateRegion = "#divDesks";
            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                dataType: 'html',
                traditional: true,
                success: function (returnedData) {
                    replaceRegionContents(updateRegion, returnedData);
                }
            });
        }

        // Add a desk to the analyst
        function addDesk() {
            if(@id==0) {
                alert("The analyst needs to be saved before adding a desk.");
            } else {
                var url = "/analysts/@id/addDesk/" + $("#newDesk").val();
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: 'html',
                    traditional: true,
                    success: function (returnedData) {
                        if(returnedData=='OK') {
                            getDesks();
                        } else {
                            alert(returnedData);
                        }
                    }
                });
            }
        }

        // Delete a desk from the analyst
        function delDesk(deskId) {
            var url = "/analysts/@id/delDesk/" + deskId;
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'html',
                traditional: true,
                success: function (returnedData) {
                    if(returnedData=='OK') {
                        getDesks();
                    } else {
                        alert(returnedData);
                    }
                }
            });
        }

        // Upload a profile image
        function uploadProfileImage() {
            if(@id==0) {
                alert("The analyst needs to be saved before uploading an image.");
            } else {
                // Show a loading message
                $.blockUI({ message: $('#domMessage') });

                var url = '/analysts/' + @id + '/uploadProfileImage';
                $("#formUpload")
                .ajaxSubmit({
                    url:    url,
                    type:   "post",
                    dataType: "text",
                    success: function (returnedData) {
                        if(returnedData=='OK') {
                            getProfileImage();
                            $("#profile").val("");
                            setTimeout($.unblockUI, 2000); // Remove the loading message
                        } else {
                            alert(returnedData);
                            setTimeout($.unblockUI, 2000); // Remove the loading message
                        }
                    }
                });
            }
        }

        // Get the profile image (and prevent caching in IE)
        function getProfileImage() {
            var url = "/analysts/@id/profileImage";
            var updateRegion = "#divProfileImage";
            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                dataType: 'html',
                traditional: true,
                success: function (returnedData) {
                    replaceRegionContents(updateRegion, returnedData);
                }
            });
        }

        // Upload a CV document
        function uploadCvDocument() {
            if(@id==0) {
                alert("The analyst needs to be saved before uploading a CV.");
            } else {
                // Show a loading message
                $.blockUI({ message: $('#domMessage') });

                var url = '/analysts/' + @id + '/uploadCvDocument';
                $("#formUpload")
                .ajaxSubmit({
                    url:    url,
                    type:   "post",
                    dataType: "text",
                    success: function (returnedData) {
                        if(returnedData=='OK') {
                            getCvDocument();
                            $("#document").val("");
                            setTimeout($.unblockUI, 2000); // Remove the loading message
                        } else {
                            alert(returnedData);
                            setTimeout($.unblockUI, 2000); // Remove the loading message
                        }
                    }
                });
            }
        }

        // Get the CV document (and prevent caching in IE)
        function getCvDocument() {
            var url = "/analysts/@id/cvDocument";
            var updateRegion = "#divCvDocument";
            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                dataType: 'html',
                traditional: true,
                success: function (returnedData) {
                    replaceRegionContents(updateRegion, returnedData);
                }
            });
        }

        // Replace the inner content of the submitted region (this function needs to be below any calls to it)
        function replaceRegionContents(regionId, newContent) {
            $(regionId).empty();                // Clear
            $(newContent).appendTo(regionId);   // Repopulate
        }

    </script>

}
