@**********************************************************
* Page:         Create/Edit Note                          *
* Author:       Sav Balac                                 *
* Date:         14/11/13                                  *
* Version:      1.0                                       *
* Description:  Allows a note to be created/edited        *
*                                                         *
* @param noteId        The Note id (0 for new)            *
* @param analystId     The analyst the note is for        *
* @param noteForm      The Note Form object               *
* @param user          The logged-in user                 *
**********************************************************@

@(  noteId:         Long,
    analystId:      Long,
    noteForm:       Form[models.Note],
    user:           User
)

@import helper._
@implicitField = @{ FieldConstructor(twitterBootstrapInput.f) }

<!-- A new note has an id of 0 -->
@main(if(noteId==0){"New Note"} else {Note.find.byId(noteId).title}, user) {

    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    @if(noteId==0) {
        <h2 id="newNote">New Note</h2>
    } else {
        <h2 id="noteName"
            <span class="ecRecType">Note: </span><span class="ecRecName">@Note.find.byId(noteId).title</span>
        </h2>
    }
    <h2 id="analystName">
        <span class="ecRecType">Analyst: </span>
        <span class="ecRecName">@Analyst.find.byId(analystId).getFullName()</span>
    </h2>

    <hr>

    @form(routes.Analysts.updateNote(analystId, noteId), 'id -> "notesForm") {
        <fieldset>
            <!-- The note id needs to be set, otherwise it will be null on update -->
            <input type="hidden" id="noteId" name="noteId" value="@noteId" />

            <!-- Setting showConstraints to false will prevent "Required" from being displayed -->
            @inputText(noteForm("title"), 'style -> "width: 75%", '_label -> "Subject:", '_showConstraints -> false)
            <br>
            @textarea(noteForm("content"), 'style -> "width: 100%", 'rows -> "15", '_label -> "Content:", '_showConstraints -> false)
        </fieldset>

        <hr>
        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="/analysts/@analystId" class="btn btn-warning">Cancel</a>
        </div>
    }
    <hr>

    <!-- Display the who created and updated the note, and when, if they exist -->
    @if(noteId!=0) {
        <span class="text-muted">
            @utils.Utils.formatCreatedTimestamp(noteForm.get().createdDt) by
            @if(noteForm.field("user").value()!=null) {
                @noteForm.get().user.fullname
            } else {
                <em>Deleted User</em> <!-- Deleted users are set to null in the notes table -->
            }
            @if(noteForm.field("updatedDt").value()!=null) {
                <br>
                @utils.Utils.formatUpdatedTimestamp(noteForm.get().updatedDt) by
                @if(noteForm.field("updatedBy").value()!=null) {
                    @noteForm.get().updatedBy.fullname
                } else {
                    <em>Deleted User</em> <!-- Deleted users are set to null in the notes table -->
                }
            }
        </span>
    }

    <!-- New notes can't be deleted as they haven't been saved yet -->
    @if((noteId!=0)) {
        @form(routes.Analysts.deleteNote(analystId, noteId), 'id -> "deleteForm", 'class -> "topRight") {
            <input type="submit" value="DELETE" id="DELETE" class="btn btn-danger btn-xs">
        }
    }

}
