@**********************************************************
* Page:         Create/Edit Analyst                       *
* Author:       Sav Balac                                 *
* Date:         17/10/13                                  *
* Version:      1.1                                       *
* Description:  Allows an analyst to be edited            *
*                                                         *
* @param id            The Analyst id (0 for new)         *
* @param analystForm   The Analyst Form object            *
* @param user          The logged-in user                 *
**********************************************************@

@(  id:             Long,
    analystForm:    Form[models.Analyst],
    user:           User
)

@import helper._
@implicitField = @{ FieldConstructor(twitterBootstrapInput.f) }

<!-- A new analyst has an id of 0 -->
@main(if(id==0){"New Analyst"} else {Analyst.find.byId(id).getFullName()}, user) {

    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    @if(id==0) {
        <h2 id="newAnalyst">New Analyst</h2>
    } else {
        <h2 id="analystName"><span class="ecRecType">Analyst: </span>
            <span class="ecRecName">@Analyst.find.byId(id).getFullName()</span>
        </h2>
    }

    <hr>

    @form(routes.Analysts.update(id), 'id -> "analystForm", 'enctype -> "multipart/form-data") {
    <fieldset>
        <!-- analystId needs to be set, otherwise it will be null on update -->
        <input type="Hidden" id="analystId" name="analystId" value="@id" />

        <!-- To partition fields into their tabs, need to contain links in a div of class tabbable                -->
        <!-- All tab panes need containing in a div of class tab-content (these classes require bootstrap-tab.js) -->
        <!-- See http://www.w3resource.com/twitter-bootstrap/nav-tabs-and-pills-tutorial.php for reference        -->
        <div class="tabbable">
            <ul class="nav nav-tabs" id="tabList">
                <li id="tabDetailsLink" class="active"><a href="#tabDetails" data-toggle="tab">Details</a></li>
                <li id="tabDesksLink"><a href="#tabDesks" data-toggle="tab">Desks</a></li>
                <li id="tabNotesLink"><a href="#tabNotes" data-toggle="tab">Notes</a></li>
                <li id="tabProfileLink"><a href="#tabProfile" data-toggle="tab">Profile</a></li>
                <li id="tabCvLink"><a href="#tabCv" data-toggle="tab">CV</a></li>
            </ul>
        </div>
        <br>
        <div class="tab-content">
            <div class="tab-pane active" id="tabDetails">
                @select(
                    analystForm("salutation"),
                    options(utils.Utils.getTitles),
                    '_label -> "Salutation:"
                )

                <!-- Setting showConstraints to false will prevent "Required" from being displayed -->
                @inputText(analystForm("firstname"), 'style -> "width: 50%", '_label -> "Forename:", '_showConstraints -> false)
                @inputText(analystForm("lastname"), 'style -> "width: 50%", '_label -> "Surname:", '_showConstraints -> false)

                <!-- selects need the identifier of the referenced table, e.g. status.statusId -->
                @select(
                    analystForm("status.statusId"),
                    options(models.Status.options),
                    '_label -> "Status:"
                )

                <!-- Enable Rank if an admin user, manager or staff member -->
                @if(user.isAdminOrManagerOrStaff()) {
                    @select(
                        analystForm("rank.id"),
                        options(models.Rank.options),
                        '_label -> "Rank:"
                    )
                } else {
                    @select(
                        analystForm("rank.id"),
                        options(models.Rank.options),
                        '_label -> "Rank:",
                        'disabled -> ""
                    )
                }

                @inputText(analystForm("email"), 'style -> "width: 50%", '_label -> "Email:")

                <!-- Show Alternate email if an admin user or manager -->
                <!-- When hiding fields, use a hidden field to ensure updates work -->
                @if(user.isAdminOrManager()) {
                    @inputText(analystForm("emailAlternate"), 'style -> "width: 50%", '_label -> "Alternate email:")
                } else {
                    <input type="hidden" id="emailAlternate" name="emailAlternate"
                           value='@analystForm.field("emailAlternate").value()' />
                }

                <!-- Show PayPal account email if an admin user, manager or staff member -->
                @if(user.isAdminOrManagerOrStaff()) {
                    @inputText(analystForm("paypalAccountEmail"), 'style -> "width: 50%", '_label -> "PayPal account email:")
                } else {
                    <input type="hidden" id="paypalAccountEmail" name="paypalAccountEmail"
                           value='@analystForm.field("paypalAccountEmail").value()' />
                }

                @inputText(analystForm("mobile"), 'style -> "width: 50%", '_label -> "Mobile:")

                <!-- Show Phone if an admin user or manager -->
                @if(user.isAdminOrManager()) {
                    @inputText(analystForm("phone"), 'style -> "width: 50%", '_label -> "Phone:")
                } else {
                    <input type="hidden" id="phone" name="phone" value='@analystForm.field("phone").value()' />
                }

                <!-- Show address fields if an admin user, manager or staff member -->
                @if(user.isAdminOrManagerOrStaff()) {
                    @inputText(analystForm("address1"), 'style -> "width: 50%", '_label -> "Address:")
                    @inputText(analystForm("address2"), 'style -> "width: 50%", '_label -> "")
                    @inputText(analystForm("city"), 'style -> "width: 50%", '_label -> "City:")
                    @inputText(analystForm("state"), 'style -> "width: 50%", '_label -> "State:")
                    @inputText(analystForm("zip"), 'style -> "width: 50%", '_label -> "Zip code:")
                    @inputText(analystForm("country"), 'style -> "width: 50%", '_label -> "Country:")
                } else {
                    <input type="hidden" id="address1" name="address1" value='@analystForm.field("address1").value()' />
                    <input type="hidden" id="address2" name="address2" value='@analystForm.field("address2").value()' />
                    <input type="hidden" id="city" name="city" value='@analystForm.field("city").value()' />
                    <input type="hidden" id="state" name="state" value='@analystForm.field("state").value()' />
                    <input type="hidden" id="zip" name="zip" value='@analystForm.field("zip").value()' />
                    <input type="hidden" id="country" name="country" value='@analystForm.field("country").value()' />
                }

                @inputText(analystForm("countryOfResidence"), 'style -> "width: 50%", '_label -> "Country of residence:")

                <!-- Enable Email verified if an admin user, manager or staff member -->
                <!-- Disabled checkboxes always return null, so need a hidden field  -->
                @if(user.isAdminOrManagerOrStaff()) {
                     @checkbox(field = analystForm("emailverified"), '_label -> "Email verified:")
                 } else {
                     @checkbox(field = analystForm("emailverified"), '_label -> "Email verified:", 'disabled -> "")
                     <input type="hidden" id="disEmailverified" name="disEmailverified"
                            value='@analystForm.field("emailverified").value()' />
                 }

                <!-- Enable Phone verified if an admin user, manager or staff member -->
                @if(user.isAdminOrManagerOrStaff()) {
                    @checkbox(field = analystForm("phoneVerified"), '_label -> "Phone verified:")
                } else {
                    @checkbox(field = analystForm("phoneVerified"), '_label -> "Phone verified:", 'disabled -> "")
                    <input type="hidden" id="disPhoneverified" name="disPhoneverified"
                           value='@analystForm.field("phoneVerified").value()' />
                }

                <!-- Enable Wiki username if an admin user, manager or staff member -->
                @if(user.isAdminOrManagerOrStaff()) {
                    @inputText(analystForm("wikiUsername"), 'style -> "width: 50%", '_label -> "Wiki username:")
                } else {
                    @inputText(analystForm("wikiUsername"), 'style -> "width: 50%", '_label -> "Wiki username:", 'disabled -> "")
                }

                @inputText(analystForm("highriseAccount"), 'style -> "width: 50%", '_label -> "Highrise account:")

                <!-- Enable Contract signed if an admin user, manager or staff member -->
                @if(user.isAdminOrManagerOrStaff()) {
                    @checkbox(field = analystForm("contractSigned"), '_label -> "Contract signed:")
                } else {
                    @checkbox(field = analystForm("contractSigned"), '_label -> "Contract signed:", 'disabled -> "")
                    <input type="hidden" id="disContractSigned" name="disContractSigned"
                           value='@analystForm.field("contractSigned").value()' />
                }

                @textarea(analystForm("positionDescription"), 'style -> "width: 100%", 'rows -> "5", '_label -> "Position:")
                @textarea(analystForm("biography"), 'style -> "width: 100%", 'rows -> "5", '_label -> "Biography:")
                @textarea(analystForm("academic"), 'style -> "width: 100%", 'rows -> "5", '_label -> "Academic:")

                <!-- Notes are hidden because they are managed by the notes tab -->
                <input type="hidden" id="notes" name="notes" value='@analystForm.field("notes").value()' />

                @inputText(analystForm("skype"), 'style -> "width: 50%", 'rows -> "5", '_label -> "Skype:")
                @textarea(analystForm("expertise"), 'style -> "width: 100%", 'rows -> "5", '_label -> "Expertise:")
                @select(
                    analystForm("primaryDesk.deskId"),
                    options(models.Desk.options),
                    '_label -> "Primary Desk:",
                    '_showConstraints -> false
                )
            </div>

            <!-- Display the list of assigned desks and a means to add one -->
            <div class="tab-pane" id="tabDesks">
                <div id="divDesks" class="col-4">
                    <!-- The desks are retrieved after the document has loaded via Ajax (see JavaScript below) -->
                </div>
            </div>

            <!-- Display the list of notes and a means to add one -->
            <div class="tab-pane" id="tabNotes">
                <div id="divNotes" class="col-4">
                    <!-- The notes are retrieved after the document has loaded via Ajax (see JavaScript below) -->
                </div>
            </div>

            <!-- Display the profile image and a means to upload one -->
            <div class="tab-pane" id="tabProfile">
                <div id="divProfileImage" class="col-4" >
                    <!-- The profile image is retrieved after the document has loaded via Ajax (see JavaScript below) -->
                </div>
            </div>

            <!-- Display the CV document and a means to upload one -->
            <div class="tab-pane" id="tabCv">
                <div id="divCvDocument" class="col-4" >
                    <!-- The CV document is retrieved after the document has loaded via Ajax (see JavaScript below) -->
                </div>
            </div>
        </div>
    </fieldset>

    <!-- This div shows a warning message that the analyst must be saved first -->
    <div class="alert alert-warning alert-dismissable" id="saveWarning">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        Please save the new analyst first.
    </div>

    <!-- This div shows an error message if there was an error with an Ajax call -->
    <div class="alert alert-danger alert-dismissable" id="ajaxError">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span id="ajaxErrorMsg"></span>
    </div>

    <hr>
    <div class="actions">
        <input type="submit" value="Save" class="btn btn-primary">
        <a href="@routes.Analysts.list()" class="btn btn-warning">Cancel</a>
    </div>
    }
    <hr>

    <!-- Display when the analyst was created if the field exists -->
    <span class="text-muted">
        @if(analystForm.field("createOn").value()!=null) {
            @utils.Utils.formatCreatedTimestamp( analystForm.get().createOn )
        }
    </span>

    <!-- New analysts can't be deleted as they haven't been saved yet -->
    @if(!(id==0)) {
        @form(routes.Analysts.delete(id), 'id -> "deleteForm", 'class -> "topRight") {
            <input type="submit" value="DELETE" id="DELETE" class="btn btn-danger btn-xs">
        }
    }

    <!-- This div shows a loading message and animation used in combination with blockUI -->
    <div id="domMessage" style="display:none">
        <h4>Loading... &nbsp;&nbsp; <img src='@routes.Assets.at("images/loading animation.gif")'/></h4>
    </div>

    <script type="text/javascript">

        // Get embedded html via Ajax after the document has loaded
        $(document).ready(function(){
            $('#saveWarning').hide();
            $('#ajaxError').hide();
            getDesks();
            getNotes();
            getProfileImage();
            getCvDocument();
        });

        // Get desks
        function getDesks() {
            getDetail("/analysts/@id/desks", "#divDesks");
        }

        // Get notes
        function getNotes() {
            getDetail("/analysts/@id/notes", "#divNotes");
        }

        // Get profile image
        function getProfileImage() {
            getDetail("/analysts/@id/profileImage", "#divProfileImage");
        }

        // Get CV document
        function getCvDocument() {
            getDetail("/analysts/@id/cvDocument", "#divCvDocument");
        }

        // Get the detail assigned to the analyst (and prevent caching in IE)
        function getDetail(url, div) {
            $.ajax({
                type: "GET",
                url: url,
                cache: false,
                dataType: 'html',
                traditional: true,
                success: function (returnedData) {
                    replaceRegionContents(div, returnedData);
                }
            });
        }

        // Add a desk to the analyst
        function addDesk() {
            if(@id==0) {
                $('#saveWarning').show();
            } else {
                $("#ajaxError").hide();
                var url = "/analysts/@id/addDesk/" + $("#newDesk").val();
                $.ajax({
                    type: "POST",
                    url: url,
                    dataType: 'html',
                    traditional: true,
                    success: function (returnedData) {
                        if(returnedData=='OK') {
                            getDesks();
                        } else {
                            $("#ajaxErrorMsg").text(returnedData);
                            $("#ajaxError").show();
                        }
                    }
                });
            }
        }

        // Delete a desk from the analyst
        function delDesk(deskId) {
            $("#ajaxError").hide();
            var url = "/analysts/@id/delDesk/" + deskId;
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'html',
                traditional: true,
                success: function (returnedData) {
                    if(returnedData=='OK') {
                        getDesks();
                    } else {
                        $("#ajaxErrorMsg").text(returnedData);
                        $("#ajaxError").show();
                    }
                }
            });
        }

        // Delete a note from the analyst
        function delNote(noteId) {
            $("#ajaxError").hide();
            var url = "/analysts/@id/delNote/" + noteId;
            $.ajax({
                type: "POST",
                url: url,
                dataType: 'html',
                traditional: true,
                success: function (returnedData) {
                    if(returnedData=='OK') {
                        getNotes();
                    } else {
                        $("#ajaxErrorMsg").text(returnedData);
                        $("#ajaxError").show();
                    }
                }
            });
        }

        // Upload a profile image
        function uploadProfileImage() {
            if(@id==0) {
                $('#saveWarning').show();
            } else {
                $("#ajaxError").hide();

                // Show a loading message
                $.blockUI({ message: $('#domMessage') });

                var url = '/analysts/' + @id + '/uploadProfileImage';
                $("#formUpload")
                .ajaxSubmit({
                    url:    url,
                    type:   "post",
                    dataType: "text",
                    success: function (returnedData) {
                        if(returnedData=='OK') {
                            getProfileImage();
                            $("#profile").val("");
                            setTimeout($.unblockUI, 500); // Remove the loading message (after 500 ms)
                        } else {
                            setTimeout($.unblockUI, 500); // Remove the loading message (after 500 ms)
                            $("#ajaxErrorMsg").text(returnedData);
                            $("#ajaxError").show();
                        }
                    }
                });
            }
        }

        // Upload a CV document
        function uploadCvDocument() {
            if(@id==0) {
                $('#saveWarning').show();
            } else {
                $("#ajaxError").hide();

                // Show a loading message
                $.blockUI({ message: $('#domMessage') });

                var url = '/analysts/' + @id + '/uploadCvDocument';
                $("#formUpload")
                .ajaxSubmit({
                    url:    url,
                    type:   "post",
                    dataType: "text",
                    success: function (returnedData) {
                        if(returnedData=='OK') {
                            getCvDocument();
                            $("#document").val("");
                            setTimeout($.unblockUI, 500); // Remove the loading message (after 500 ms)
                        } else {
                            setTimeout($.unblockUI, 500); // Remove the loading message (after 500 ms)
                            $("#ajaxErrorMsg").text(returnedData);
                            $("#ajaxError").show();
                        }
                    }
                });
            }
        }

        // Replace the inner content of the submitted region (this function needs to be below any calls to it)
        function replaceRegionContents(regionId, newContent) {
            $(regionId).empty();                // Clear
            $(newContent).appendTo(regionId);   // Repopulate
        }

    </script>

}
