@****************************************************************
* Page:     List Analysts                                       *
* Author:   Sav                                                 *
* Date:     17/10/13                                            *
*                                                               *
* @param currentPage        The page of Analyst objects         *
* @param currentSortBy      The sort column                     *
* @param currentOrder       Ascending or descending             *
* @param currentFilter      The search filter                   *
* @param currentSearch      Search on columnname                *
****************************************************************@

@(  currentPage:        com.avaje.ebean.Page[models.Analyst],
    currentSortBy:      String,
    currentOrder:       String,
    currentFilter:      String,
    currentSearch:      String,
    user:               Users
)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Analysts.list(newPage, sortBy, order, currentFilter, currentSearch)

}

@**********************************
* Helper generating table headers *
**********************************@
@header(key:String, title:String) = {
    <th class='@key.replace(".","_")' header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}


@main("Analysts", user) {

    <h1 id="homeTitle">Analysts (@currentPage.getTotalRowCount)</h1>

    <hr>

    <div id="actions">
        <form name="frmFilter" class="form-inline" role="form" well form-searchaction='@link(0, "name")' method="GET">
            <div class="form-group">
                <label class="sr-only" for="searchbox">Search by surname</label>
                <input type="search" class="form-control" placeholder="Search by surname" id="searchbox" name="t" value="@currentSearch">
            </div>
            <div class="form-group">
                <a class="btn btn-default" href="JAVASCRIPT:frmFilter.submit()" rel="tooltip" title="Search by surname">
                    <i class="glyphicon glyphicon-search"></i>
                </a>
            </div>

            &nbsp;
            <label for="f">Primary Desk:</label>
            <select id="f" name="f" onchange="setPrimaryDesk(); this.form.submit();">
                <option value="" selected>ALL</option>
                @for(desk <- Desk.getAll()) {
                    <option value="@desk.name" @if(desk.name==currentFilter){ selected }>@desk.name</option>
                }
            </select>
        </form>
        <br>
    </div>

    @if(currentPage.getTotalRowCount == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table class="table table-striped table-bordered table-condensed">

            <thead>
                <tr>
                    @header("lastname", "Name")
                    @header("primaryDesk.name", "Primary Desk")
                    @header("rank.name", "Rank")
                    @header("status.statusName", "Status")
                </tr>
            </thead>

            <tbody>
                @for(Analyst <- currentPage.getList) {
                    <tr>
                        <td>
                            <a id="@Analyst.analystId" class="id" href="@routes.Analysts.edit(Analyst.analystId)">
                                @Analyst.firstname @Analyst.lastname
                            </a>
                        </td>
                        <td>
                            @Analyst.primaryDesk.name
                        </td>
                        <td>
                            @Analyst.rank.name
                        </td>
                        <td>
                            @Analyst.status.statusName
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <!-- Show pagination links -->
        @tags.pagination(new Integer(Application.PAGE_TYPE_ANALYSTS), currentPage.getTotalPageCount,
                         currentPage.getPageIndex, new Boolean(currentPage.hasPrev), new Boolean(currentPage.hasNext),
                         currentSortBy, currentOrder, currentFilter, currentSearch, new Long(0))

        <hr>

    }

    <a class="btn btn-success" id="add" href="@routes.Analysts.create()">New Analyst</a>

    <hr>

    <script type="text/javascript">
        function setPrimaryDesk() {
            var selectedDesk = $("#f option:selected").val();
            $("#primaryDesk").val(selectedDesk);
        }
    </script>

}