@**************************************************************
* Page:         tagAnalystImage                               *
* Author:       Sav Balac                                     *
* Date:         21/10/13                                      *
* Version:      1.1                                           *
* Description:  Shows the profile image (via Ajax)            *
*                                                             *
* @param analyst   The Analyst reference                      *
**************************************************************@

@( analyst: Analyst )

@import helper._

@if(analyst == null || analyst.analystId==0) {

    <div class="well">
        <em>New analyst must be saved before the image can be uploaded.</em>
    </div>

} else {

    <!-- Show the profile image if it exists -->
    @if(analyst.profileImage!=null) {
        <div style="height:100px; width:100px;">
            <img src="@analyst.profileImage.getUrl()" align="left"
                 style="vertical-align: top; border: 0px; max-height:100%; max-width:100%">
        </div>
    } else {
        <div class="well">
            <em>No profile image</em>
        </div>
    }

    <!-- Allow a profile image to be uploaded (uploadProfileImage() is in editAnalyst) -->
    <div id="divUploadProfileImage" class="col-4">
        <br>
        <label class="btn btn-success btn-xs filebutton">
            <i class="glyphicon glyphicon-upload icon-white"></i> Upload an image
            <span><input type="file" id="profile" name="profile" onchange="uploadProfileImage()"></span>
        </label>
    </div>
    <br>

}
