@*************************************************************
* Page:        tagAnalystCV                                  *
* Author:      Sav Balac                                     *
* Date:        21/10/13                                      *
* Version:     1.0                                           *
* Description: Shows the CV document (via Ajax)              *
*                                                            *
* @param analyst   The Analyst reference                     *
*************************************************************@

@( analyst: Analyst )

@import helper._

@if(analyst==null || analyst.analystId==null || analyst.analystId==0) {

    <div class="well">
        <em>New analyst must be saved before the CV document can be uploaded</em>
    </div>

} else {

    @********************************************
    * Don't show the CV document if none exists *
    ********************************************@
    @if(analyst.cvDocument!=null) {
        <div>
            <a href="@analyst.cvDocument.getUrl()" target="_blank">@analyst.cvDocument.name</a>
        </div>
    } else {
        <div class="well">
            <em>No CV</em>
        </div>
    }

}
