@*************************************************************
* Page:        tagAnalystCV                                  *
* Author:      Sav Balac                                     *
* Date:        21/10/13                                      *
* Description: Shows the CV document with upload form        *
*                                                            *
* @param analyst   The Analyst reference                     *
*************************************************************@

@( analyst: Analyst )

@import helper._

@if(analyst==null || analyst.analystId==null || analyst.analystId==0) {

    <div class="well-sm">
        <em>New analyst must be saved before the CV document can be uploaded</em>
    </div>

} else {

    @********************************************
    * Don't show the CV document if none exists *
    ********************************************@
    @if(analyst.cvDocument!=null) {
        <div>
            <a href="@routes.Assets.at(analyst.cvDocument)" target="_blank">CV</a>
        </div>
    }
    <br>
    @form(routes.Analysts.uploadCvDocument(analyst.analystId), 'id -> "formUpload", 'enctype -> "multipart/form-data") {
        <input type="Hidden" id="id" name="id" value="@analyst.analystId" />
        <label class="btn btn-success filebutton">
            <i class="glyphicon glyphicon-upload icon-white"></i> Upload a CV
            <span><input type="file" id="imgFile" name="imgFile" onchange="uploadCvDocument()"></span>
        </label>
    }

}
