@*************************************************************
* Page:        tagAnalystImage                               *
* Author:      Sav Balac                                     *
* Date:        21/10/13                                      *
* Description: shows the profile image with upload form      *
*                                                            *
* @param analyst   The Analyst reference                     *
*************************************************************@

@( analyst: Analyst )

@import helper._

@if(analyst==null || analyst.analystId==null || analyst.analystId==0) {

    <div class="well-sm">
        <em>New analyst must be saved before the image can be uploaded</em>
    </div>

} else {

    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <td class="span4" style="vertical-align: baseline">
                <table>
                    <tr>
                        <td style="vertical-align: top">
                            @*******************************************
                            * Don't show the image file if none exists *
                            ********************************************@
                            @if(analyst.profileImage!=null) {
                                <div style="width:600px;">
                                    <img src="@routes.Assets.at(analyst.profileImage)" align="left"
                                         style="vertical-align: top; border: 0px">
                                </div>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td style="vertical-align: baseline">
                            <br>
                                <label class="btn btn-success filebutton">
                                    <i class="icon-upload icon-white"></i> Upload an image
                                    <span><input type="file" id="imgFile" name="imgFile" onchange="submitImageUpload()"></span>
                                </label>
                            <br>&nbsp;
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

}
