@*************************************************************
* Page:        tagAnalystImage                               *
* Author:      Sav Balac                                     *
* Date:        21/10/13                                      *
* Version:     1.0                                           *
* Description: Shows the profile image (via Ajax)            *
*                                                            *
* @param analyst   The Analyst reference                     *
*************************************************************@

@( analyst: Analyst )

@import helper._

@if(analyst==null || analyst.analystId==null || analyst.analystId==0) {

    <div class="well-sm">
        <em>New analyst must be saved before the image can be uploaded</em>
    </div>

} else {

    @*******************************************
    * Don't show the image file if none exists *
    ********************************************@
    @if(analyst.profileImage!=null) {
        <div style="height:100px; width:100px;">
            <img src="@analyst.profileImage.getUrl()" align="left"
                 style="vertical-align: top; border: 0px; max-height:100%; max-width:100%">
        </div>
    }

}
