@**************************************************************
* Page:         tagAnalystCV                                  *
* Author:       Sav Balac                                     *
* Date:         21/10/13                                      *
* Version:      1.1                                           *
* Description:  Shows the CV document (via Ajax)              *
*                                                             *
* @param analyst   The Analyst reference                      *
**************************************************************@

@( analyst: Analyst )

@import helper._

@if(analyst == null || analyst.analystId==0) {

    <div class="well">
        <em>New analyst must be saved before the CV document can be uploaded</em>
    </div>

} else {

    <!-- Show the CV document if it exists -->
    @if(analyst.cvDocument!=null) {
        <div>
            <a href="@analyst.cvDocument.getUrl()" target="_blank">@analyst.cvDocument.name</a>
        </div>
    } else {
        <div class="well">
            <em>No CV</em>
        </div>
    }

    <!-- Allow a CV document to be uploaded (uploadCvDocument() is in editAnalyst) -->
    <div id="divUploadCvDocument" class="col-4">
        <br>
        <label class="btn btn-success btn-xs filebutton">
            <i class="glyphicon glyphicon-upload icon-white"></i> Upload a CV
            <span><input type="file" id="document" name="document" onchange="uploadCvDocument()"></span>
        </label>
    </div>
    <br>

}
