@**************************************************************
* Page:         tagListDeskAnalysts                           *
* Author:       Sav Balac                                     *
* Date:         24/10/13                                      *
* Version:      1.1                                           *
* Description:  Lists the desks for the analyst (via Ajax)    *
*                                                             *
* @param analyst   The Analyst reference                      *
**************************************************************@

@( analyst: Analyst )

@if(analyst == null || analyst.analystId == 0) {

    <div class="well">
        <em>New analyst must be saved before desks can be added</em>
    </div>

} else {

    @if(analyst.getNumDesks() <= 0) {
        <div class="well">
            <em>No desks assigned</em>
        </div>
    } else {
        <div class="row show-grid">
            <div class="col-4">
                <table class="table table-striped table-bordered table-condensed">
                    @for(desk <- analyst.desks) {
                        <tr>
                            <!-- Allow a desk to be removed (delDesk() is in editAnalyst) -->
                            <td width="16">
                                <a href="#" rel="tooltip" title="Remove desk: @desk.name" style="vertical-align:top" onclick="delDesk(@desk.deskId);">
                                    <img src='@routes.Assets.at("images/cross.png")' style="vertical-align:middle" height="16" width="16">
                                </a>
                            </td>
                            <td>@desk.name</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }

    <!-- Allow a desk to be added (addDesk() is in editAnalyst) -->
    <div class="form-group">
        <label for="divAddDesk">Add Desk</label>
        <div id="divAddDesk" class="col-4">
            <input type="Hidden" id="id" name="id" value="@analyst.analystId" />
            <div class="col-sm-4">
                <select id="newDesk" name="newDesk" class="form-control">
                    @for(desk <- Desk.getAll()) {
                        <option value="@desk.deskId">@desk.name</option>
                    }
                </select>
            </div>
            <a class="btn btn-success btn-xs" id="addDesk" href="#" rel="tooltip" title="Add Desk" onclick="addDesk();">
                <i class="glyphicon glyphicon-plus icon-white"></i> Add
            </a>
        </div>
    </div>

}
