@*************************************************************
* Page: tagListDeskAnalysts                                  *
* Author: Sav Balac                                          *
* Date: 24/10/13                                             *
* Description: lists the desks for the analyst (via Ajax)    *
*                                                            *
* @param analyst   The Analyst reference                     *
*************************************************************@

@( analyst: Analyst )


@if(analyst==null || analyst.analystId==null || analyst.analystId==0) {

    <div class="well-sm">
        <em>New analyst must be saved before desks can be added</em>
    </div>

} else {

    @if( (analyst.desks == null) || (analyst.getNumDesks() <= 0) ) {
        <div class="well">
            <em>No desks assigned</em>
        </div>
    } else {

    <div class="row show-grid">
        <div class="col-4">
            <table class="table table-striped table-bordered table-condensed">
                @for(desk <- analyst.desks) {
                    <tr>
                        <td width="16">
                            <a href="#" rel="tooltip" title="Remove desk @desk.name (this action cannot be cancelled)" style="vertical-align:top" onclick="delDeskAnalyst(@desk.deskId);">
                                <img src='@routes.Assets.at("images/cross.png")' style="vertical-align:middle" height="16" width="16">
                            </a>
                        </td>
                        <td>@desk.name</td>
                    </tr>
                }
            </table>
        </div>
    </div>

    }
}
