html {
    background: #eee;
}

header h1 {
    padding: 0.4em 1.1em;
    color: white;
    font-weight: normal;
    font-size: 24px;
}

section#main {
    position: relative;
    padding: 5em 2em;
    border-bottom: 1px solid #ccc;
    min-height: 600px;
} 

section#main .topRight {
    position: absolute;
    right: 20px;
    top: 70px;
}

table.computers em {
    color: #aaa;
}

table.computers .introduced, table.computers .discontinued {
    width: 10%;
    min-width: 100px;
}

table.computers .company_name {
    width: 30%;
    min-width: 300px;
}

table.computers .header a {
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

#pagination {
    position: relative;
}

#pagination ul {
    position: absolute;
    right: 0;
}

#pagination ul .current a {
    color: #666;
}

/* Shows a loading animation.
   Sets display:none to make it hidden.
   Positions in relation to the window with position:fixed.
   The dark red colour matches the gif.
   Background set to 80% white with animation centered (50% 50%), and no repeating. */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        81%;
    left:       65%;
    width:      100px;
    height:     100px;
    border:     0;
    color:      #A13030;
    background: rgba( 255, 255, 255, 0.8 )
                url('/assets/images/loading animation.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, turn the scroll bar off (overflow:hidden). */
body.loading {
    overflow: hidden;
}

/* When the body has the loading class, the modal element will be visible. */
body.loading .modal {
    display: block;
}

label.filebutton {
    overflow:hidden;
    position:relative;
}

label span input {
    z-index: 999;
    line-height: 0;
    font-size: 50px;
    position: absolute;
    top: -2px;
    left: -700px;
    opacity: 0;
    filter: alpha(opacity = 0);
    -ms-filter: "alpha(opacity=0)";
    cursor: pointer;
    _cursor: hand;
    margin: 0;
    padding:0;
}

/*
   Fix recommended by Bootstrap 3.0
   Windows Phone 8 and Internet Explorer 10
   Internet Explorer 10 doesn't differentiate device width from viewport width,
   and thus doesn't properly apply the media queries in Bootstrap's CSS.
   To address this, you can optionally include the following CSS
   to work around this problem until Microsoft issues a fix.
 */
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }

