@*********************************************************
* Page:        Create/Edit Group                         *
* Author:      Sav Balac                                 *
* Date:        08/11/13                                  *
* Version:     1.0                                       *
* Description: Allows a group to be edited               *
*                                                        *
* @param id            The Group id (0 for new)          *
* @param groupForm     The Group Form object             *
* @param user          The logged-in user                *
*********************************************************@

@(  id:             Long,
    groupForm:      Form[models.Group],
    user:           User
)

@import helper._
@implicitField = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(if(id==0){"New Group"} else {groupForm.get().name}, user) {

    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    @* The id should be zero if creating a Group, but also test for null *@
    @if(id == null || id==0) {
        <h1 id="newGroup">New Group</h1>
    } else {
        <h1 id="groupName"><span class="ecRecType">Group: </span>
            <span class="ecRecName">@groupForm.field("name").value()</span>
        </h1>
    }
    <hr>

    @form(routes.Groups.update(id), 'id -> "formUpload") {
        <fieldset>
            <!-- id needs to be set, otherwise it will be null on update -->
            <input type="Hidden" id="id" name="id" value="@id" />
            <br>
            @* Setting showConstraints to false will prevent "Required" from being displayed *@
            @inputText(groupForm("name"), 'style -> "width: 50%", '_label -> "Name:", '_showConstraints -> false)
        </fieldset>

        <hr>
        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="@routes.Groups.list()" class="btn btn-warning">Cancel</a>
        </div>
    }
    <hr>

    @if(!(id==null || id==0)) {
        @form(routes.Groups.delete(id), 'class -> "topRight") {
            <input type="submit" value="DELETE" id="DELETE" class="btn btn-danger btn-xs">
        }
    }

}
