@****************************************************************
* Page:        List Groups                                      *
* Author:      Sav                                              *
* Date:        08/11/13                                         *
* Version:     1.0                                              *
* Description: Lists the groups                                 *
*                                                               *
* @param currentPage        The page of Group objects           *
* @param currentSortBy      The sort column                     *
* @param currentOrder       Ascending or descending             *
* @param currentFilter      The search filter                   *
* @param currentSearch      Search on columnname                *
* @param user               The logged-in user                  *
****************************************************************@

@(  currentPage:        com.avaje.ebean.Page[models.Group],
    currentSortBy:      String,
    currentOrder:       String,
    currentFilter:      String,
    currentSearch:      String,
    user:               User
)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Groups.list(newPage, sortBy, order, currentFilter, currentSearch)

}

@**********************************
* Helper generating table headers *
**********************************@
@header(key:String, title:String) = {
    <th class='@key.replace(".","_")' header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}


@main("Groups", user) {

    <h1 id="homeTitle">Groups (@currentPage.getTotalRowCount)</h1>

    <hr>

    <div id="actions">
        <form name="frmFilter" class="form-inline" role="form" well form-searchaction='@link(0, "name")' method="GET">
            <div class="form-group">
                <label class="sr-only" for="searchbox">Search by name</label>
                <input type="search" class="form-control" placeholder="Search by name" id="searchbox" name="t" value="@currentSearch">
            </div>
            <div class="form-group">
                <a class="btn btn-default" href="JAVASCRIPT:frmFilter.submit()" rel="tooltip" title="Search by name">
                    <i class="glyphicon glyphicon-search"></i>
                </a>
            </div>
        </form>
        <br>
    </div>

    @if(currentPage.getTotalRowCount == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table class="table table-striped table-bordered table-condensed">

            <thead>
                <tr>
                    @header("name", "Name")
                </tr>
            </thead>

            <tbody>
                @for(group <- currentPage.getList) {
                    <tr>
                        <td>
                            <a id="@group.id" class="id" href="@routes.Groups.edit(group.id)">
                                @group.name
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <!-- Show pagination links -->
        @tags.pagination(new Integer(Application.PAGE_TYPE_GROUPS), currentPage.getTotalPageCount,
                         currentPage.getPageIndex, new Boolean(currentPage.hasPrev), new Boolean(currentPage.hasNext),
                         currentSortBy, currentOrder, currentFilter, currentSearch, new Long(0))

        <hr>

    }

    <a class="btn btn-success" id="add" href="@routes.Groups.create()">New Group</a>

    <hr>

}