@**********************************************************
* Page:         Create/Edit User                          *
* Author:       Sav Balac                                 *
* Date:         08/11/13                                  *
* Version:      1.0                                       *
* Description:  Allows a user to be edited                *
*                                                         *
* @param id            The User id (0 for new)            *
* @param userForm      The User Form object               *
* @param user          The logged-in user                 *
**********************************************************@

@(  id:             Long,
    userForm:       Form[models.User],
    user:           User
)

@import helper._
@implicitField = @{ FieldConstructor(twitterBootstrapInput.f) }

<!-- A new user has an id of 0 -->
@main(if(id==0){"New User"} else {User.find.byId(id).fullname}, user) {

    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    @if(id==0) {
        <h2 id="newUser">New User</h2>
    } else {
        <h2 id="usersName"><span class="ecRecType">User: </span>
            <span class="ecRecName">@User.find.byId(id).fullname</span>
        </h2>
    }
    <hr>

    @form(routes.Users.update(id), 'id -> "userForm", 'role -> "form") {
    <fieldset>
        @CSRF.formField <!-- Need a hidden CSRF token to protect against CSRF -->

        <!-- id needs to be set, otherwise it will be null on update -->
        <input type="Hidden" id="id" name="id" value="@id" />

        <!-- To partition fields into their tabs, need to contain links in a div of class tabbable                -->
        <!-- All tab panes need containing in a div of class tab-content (these classes require bootstrap-tab.js) -->
        <!-- See http://www.w3resource.com/twitter-bootstrap/nav-tabs-and-pills-tutorial.php for reference        -->
        <div class="tabbable">
            <ul class="nav nav-tabs" id="tabList">
                <li id="tabDetailsLink" class="active"><a href="#tabDetails" data-toggle="tab">Details</a></li>

                <!-- Display the groups tab if an admin user -->
                @if(user.isAdmin()) {
                    <li id="tabGroupsLink"><a href="#tabGroups" data-toggle="tab">Groups</a></li>
                }
            </ul>
        </div>
        <br>
        <div class="tab-content">
            <div class="tab-pane active" id="tabDetails">

                <!-- Setting showConstraints to false will prevent "Required" from being displayed -->
                <div class="form-group">
                    @inputText(userForm("fullname"), 'class -> "form-control", '_label -> "Name",
                                                     'style -> "width: 50%", '_showConstraints -> false)
                </div>
                <div class="form-group">
                    @inputText(userForm("email"), 'class -> "form-control", '_label -> "Email",
                                                  'style -> "width: 50%", '_showConstraints -> false)
                </div>

                <!-- Hide the username field if the user has been created -->
                @if(id==0) {
                    <div class="form-group">
                        @inputText(userForm("username"), 'class -> "form-control", '_label -> "Username",
                                                         'style -> "width: 50%", '_showConstraints -> false)
                    </div>
                } else {
                    <div class="form-group">
                        <input type="hidden" id="username" name="username" value='@userForm.field("username").value()' />
                        <strong>Username</strong>
                        <br>
                        @userForm.field("username").value()
                    </div>
                }

                <!-- Hide the password field and show a change password button if the user has been created -->
                @if(id==0) {
                    <div class="form-group">
                        @inputPassword(userForm("password"), 'class -> "form-control", '_label -> "Password",
                                                             'style -> "width: 50%", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                        @inputPassword(userForm("confirmPassword"), 'class -> "form-control", '_label -> "Confirm Password",
                                                                    'style -> "width: 50%", '_showConstraints -> false)
                    </div>
                } else {
                    <div class="form-group">
                        <input type="hidden" id="password" name="password" value='@userForm.field("password").value()' />
                        <a class="btn btn-success btn-xs" href="/users/@id/password"
                           rel="tooltip" title="Change Password" style="vertical-align:top" role="button">
                            <i class="glyphicon icon-white"></i> Change Password
                        </a>
                    </div>
                }
            </div>

            <!-- Display the list of assigned groups (if an admin user) and a means to add one -->
            @if(user.isAdmin()) {
                <div class="tab-pane" id="tabGroups">
                    <div id="divGroups" class="col-4">
                        <!-- The groups are retrieved after the document has loaded via Ajax (see JavaScript below) -->
                    </div>
                </div>
            }
        </div>
    </fieldset>

    <!-- This div shows an error message if there was an error with an Ajax call -->
    <div class="alert alert-danger alert-dismissable" id="ajaxError" style="display:none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span id="ajaxErrorMsg"></span>
    </div>

    <hr>
    <div class="actions">
        <button type="submit" class="btn btn-primary">Save</button>
        <!-- If an admin user is amending another user, cancel goes to the list page, otherwise to the home page -->
        <a href="@if(user.isAdmin()&&(id!=user.id)){@routes.Users.list()} else {@routes.Application.index()}"
           class="btn btn-warning" role="button">Cancel</a>
    </div>
    }

    <!-- Only admin users can delete existing users (and they can't delete themselves) -->
    @if(user.isAdmin()&&(id!=user.id)&&id!=0) {
        @form(routes.Users.delete(id), 'id -> "deleteForm", 'class -> "topRight") {
            @CSRF.formField <!-- Need a hidden CSRF token to protect against CSRF -->
            <button type="submit" id="DELETE" class="btn btn-danger btn-xs">DELETE</button>
        }
    }

    <!-- This div shows a loading message and animation used in combination with blockUI -->
    <div id="domMessage" style="display:none">
        <h4>Loading... &nbsp;&nbsp; <img src='@routes.Assets.at("images/loading animation.gif")'/></h4>
    </div>

    <script type="text/javascript">

        // Get embedded html via Ajax after the document has loaded
        $(document).ready(function(){
            getGroups();
        });

        // Get groups (getDetail() and changeDetail() are in main.scala.html)
        function getGroups() {
            getDetail("/users/@id/groups", "#divGroups");
        }

        // Add a group to the user
        function addGroup() {
            changeDetail("/users/@id/addGroup/" + $("#newGroup").val(), "/users/@id/groups", "#divGroups");
        }

        // Delete a group from the user
        function delGroup(groupId) {
            changeDetail("/users/@id/delGroup/" + groupId, "/users/@id/groups", "#divGroups");
        }

    </script>

}
