@**********************************************************
* Page:         Edit Password                             *
* Author:       Sav Balac                                 *
* Date:         13/11/13                                  *
* Version:      1.0                                       *
* Description:  Allows a user's password to be changed    *
*                                                         *
* @param id            The User id (0 for new)            *
* @param userForm      The User Form object               *
* @param user          The logged-in user                 *
**********************************************************@

@(  id:             Long,
    userForm:       Form[models.User],
    user:           User
)

@import helper._
@implicitField = @{ FieldConstructor(twitterBootstrapInput.f) }

@main(userForm.get().fullname, user) {

    <script src="//code.jquery.com/jquery.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <h2 id="usersName"><span class="ecRecType">User: </span>
        <span class="ecRecName">@userForm.field("fullname").value()</span>
    </h2>
    <hr>

    @form(routes.Users.updatePassword(id), 'id -> "userForm") {
        <fieldset>
            <!-- Non-editable user fields need to be set, otherwise they will be null on update -->
            <input type="Hidden" id="id" name="id" value="@id" />
            <input type="hidden" id="fullname" name="fullname" value='@userForm.field("fullname").value()' />
            <input type="hidden" id="email" name="email" value='@userForm.field("email").value()' />
            <input type="hidden" id="username" name="username" value='@userForm.field("username").value()' />
            <input type="hidden" id="password" name="password" value='@userForm.field("password").value()' />
            <br>
            @inputPassword(userForm("newPassword"), 'style -> "width: 50%", '_label -> "New Password:")
            @inputPassword(userForm("confirmPassword"), 'style -> "width: 50%", '_label -> "Confirm Password:")
        </fieldset>

        <hr>
        <div class="actions">
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="@routes.Users.edit(id)" class="btn btn-warning">Cancel</a>
        </div>
    }
    <hr>

}
