@****************************************************************
* Page:        List Users                                       *
* Author:      Sav                                              *
* Date:        08/11/13                                         *
* Version:     1.0                                              *
* Description: Lists the users                                  *
*                                                               *
* @param currentPage        The page of User objects            *
* @param currentSortBy      The sort column                     *
* @param currentOrder       Ascending or descending             *
* @param currentFilter      The search filter                   *
* @param currentSearch      Search on columnname                *
* @param user               The logged-in user                  *
****************************************************************@

@(  currentPage:        com.avaje.ebean.Page[models.User],
    currentSortBy:      String,
    currentOrder:       String,
    currentFilter:      String,
    currentSearch:      String,
    user:               User
)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    routes.Users.list(newPage, sortBy, order, currentFilter, currentSearch)

}

@**********************************
* Helper generating table headers *
**********************************@
@header(key:String, title:String) = {
    <th class='@key.replace(".","_")' header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}">
        <a href="@link(0, key)">@title</a>
    </th>
}


@main("Users", user) {

    <h2 id="homeTitle">Users (@currentPage.getTotalRowCount)</h2>

    <hr>

    <div id="actions">
        <form name="frmFilter" class="form-inline" role="form" well form-searchaction='@link(0, "name")' method="GET">
            <div class="form-group">
                <label class="sr-only" for="searchbox">Search by full name</label>
                <input type="search" class="form-control" placeholder="Search by full name" id="searchbox" name="t" value="@currentSearch">
            </div>
            <div class="form-group">
                <a class="btn btn-default" href="JAVASCRIPT:frmFilter.submit()" rel="tooltip" title="Search by full name">
                    <i class="glyphicon glyphicon-search"></i>
                </a>
            </div>

            &nbsp;
            <label for="f">Groups:</label>
            <select id="f" name="f" onchange="setGroup(); this.form.submit();">
                <option value="" selected>ALL</option>
                @for(group <- Group.getAll()) {
                    <option value="@group.name" @if(group.name==currentFilter){ selected }>@group.name</option>
                }
            </select>
        </form>
        <br>
    </div>

    @if(currentPage.getTotalRowCount == 0) {

        <div class="well">
            <em>Nothing to display</em>
        </div>

    } else {

        <table class="table table-striped table-bordered table-condensed">

            <thead>
                <tr>
                    @header("fullname", "Name")
                    @header("username", "Username")
                    @header("email", "Email Address")
                    @header("groups", "Groups")
                </tr>
            </thead>

            <tbody>
                @for(user <- currentPage.getList) {
                    <tr>
                        <td>
                            <a id="@user.id" class="userId" href="@routes.Users.edit(user.id)">
                                @user.fullname
                            </a>
                        </td>
                        <td>
                            @user.username
                        </td>
                        <td>
                            @user.email
                        </td>
                        <td>
                            @***************************************************************************************
                            * List the groups separated by commas (no comma for the last group, index starts at 0) *
                            ***************************************************************************************@
                            @for(group <- user.groups) {
                                @group.name
                                @if(!(user.groups.indexOf(group)==user.groups.size()-1)) {, }
                            }
                        </td>
                    </tr>
                }
            </tbody>

        </table>

        <!-- Show pagination links -->
        @tags.pagination(new Integer(Application.PAGE_TYPE_USERS), currentPage.getTotalPageCount,
                         currentPage.getPageIndex, new Boolean(currentPage.hasPrev), new Boolean(currentPage.hasNext),
                         currentSortBy, currentOrder, currentFilter, currentSearch, new Long(0))

        <hr>

    }

    <a class="btn btn-success" id="add" href="@routes.Users.create()">New User</a>

    <hr>

    <script type="text/javascript">
        function setGroup() {
            var selectedGroup = $("#f option:selected").val();
            $("#group").val(selectedGroup);
        }
    </script>

}