@**************************************************************
* Page:         tagListUserGroups                             *
* Author:       Sav Balac                                     *
* Date:         08/11/13                                      *
* Version:      1.0                                           *
* Description:  Lists the groups for the user (via Ajax)      *
*                                                             *
* @param user   The User reference                            *
**************************************************************@

@( user: User )

@if(user == null || user.id == 0) {

    <div class="well">
        <em>New user must be saved before groups can be added</em>
    </div>

} else {

    @if(user.getNumGroups() <= 0) {
        <div class="well">
            <em>No groups assigned</em>
        </div>
    } else {
        <div class="row show-grid">
            <div class="col-4">
                <table class="table table-striped table-bordered table-condensed">
                    @for(group <- user.groups) {
                        <tr>
                            <!-- Allow a group to be removed (delGroup() is in editUser) -->
                            <td width="16">
                                <a href="#" rel="tooltip" title="Remove group @group.name" style="vertical-align:top" onclick="delGroup(@group.id);">
                                    <img src='@routes.Assets.at("images/cross.png")' style="vertical-align:middle" height="16" width="16">
                                </a>
                            </td>
                            <td>@group.name</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    }

    <!-- Allow a group to be added (addGroup() is in editUser) -->
    <div class="form-group">
        <label for="divAddGroup">Add Group</label>
        <div id="divAddGroup" class="col-4">
            <input type="Hidden" id="userId" name="userId" value="@user.id" />
            <div class="col-sm-2">
                <select id="newGroup" name="newGroup" class="form-control">
                    @for(group <- Group.getAll()) {
                        <option value="@group.id">@group.name</option>
                    }
                </select>
            </div>
            <a class="btn btn-success" id="addGroup" href="#" rel="tooltip" title="Add Group" style="vertical-align:top" onclick="addGroup();">
                <i class="glyphicon glyphicon-plus icon-white"></i> Add
            </a>
        </div>
    </div>

}
