@*************************************************************************************
* Page:        Forbidden                                                             *
* Author:      Sav Balac                                                             *
* Date:        13/11/13                                                              *
* Version:     1.0                                                                   *
* Description: If the user enters a URL for a page they don't have permission to see *
*                                                                                    *
* @param user          The logged-in user                                            *
*************************************************************************************@

@(user: User)

@main("Forbidden", user) {

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <h2>Forbidden Page</h2>
                <br>
                <p>You don't have permission to see this page.</p>
                <br>
                <p>Please go back to the previous page.</p>
            </div>
        </div>
        <hr>
        <footer>
            <p>&copy; Organised Knowledge 2013</p>
        </footer>
    </div> <!-- /container -->

}
