@*************************************************************************
* Page:         Main                                                     *
* Author:       Sav Balac                                                *
* Date:         17/10/13                                                 *
* Version:      1.1                                                      *
* Description:  All pages are shown within this page (except for login)  *
*               which contains css, js, nav bar and messages.            *
*                                                                        *
* @param title       Page title                                          *
* @param user        The logged-in user                                  *
*************************************************************************@

@(title: String, user: User)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=9" />  <!-- Fix to allow Twitter Bootstrap to work in IE10 -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/> <!-- Recommended by Bootstrap 3 - remove the above line? -->

        <!-- css -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"/>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")"/>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/jquery-ui-1.9.2.css")'/>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/jquery-ui-1.8.23.css")'/>
        <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/jquery-ui-demo-docs-theme.css")'/>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")"/>

        <!-- More styling -->
        <style>
            body {
                padding-top: 60px; /* So the flash messages are displayed */
            }
        </style>
    </head>

    <body>

        <!-- Wrap all page content to give a fixed navbar -->
        <div id="wrap">

            <!-- Navbar -->
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">SNO2</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li><a href="@routes.Application.index()">Home</a></li>
                            <li><a href="/analysts">Analysts</a></li>
                            <!-- Only admin users can navigate to the users page -->
                            @if(user.isAdmin()) {
                                <li><a href="/users">Users</a></li>
                            }
                            <li>@user.username <span>(@user.email)</span></li>
                            <li><a href="@routes.Users.edit(user.id)">@user.fullname</a></li>
                            <li><a href="@routes.Application.logout()">Sign Out</a></li>
                        </ul>
                    </div> <!-- /.navbar -->
                </div>
            </div>

            <!-- Show any flash messages above the main content -->
            <div class="container">
                @if(flash.containsKey(utils.Utils.KEY_ERROR)) {
                    <div class="alert alert-danger">
                        <strong>ERROR: </strong>@flash.get(utils.Utils.KEY_ERROR)
                    </div>
                }
                @if(flash.containsKey(utils.Utils.KEY_INFO)) {
                    <div class="alert alert-info">
                        @flash.get(utils.Utils.KEY_INFO)
                    </div>
                }
                @if(flash.containsKey(utils.Utils.KEY_SUCCESS)) {
                    <div class="alert alert-success">
                        <p>@flash.get(utils.Utils.KEY_SUCCESS)</p>
                    </div>
                }

                <section id="main">
                    @content
                </section>
            </div>

        </div> <!-- /#wrap -->

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//code.jquery.com/jquery.js"></script>

        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>

        <!-- Required for tabbable navs -->
        <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap-tab.js")'></script>

        <!-- This script is required to use ajaxSubmit() -->
        <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.form.js")'></script>

        <!-- This script is used to show a loading message (for ajax calls) -->
        <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.blockUI.js")'></script>

        <!-- Ajax functions used by the edit pages -->
        <script type="text/javascript">

            // Gets the detail assigned to the parent record, e.g. desks for an Analyst (prevent caching in IE)
            function getDetail(url, div) {
                $.ajax({
                    type: "GET",
                    url: url,
                    cache: false,
                    dataType: 'html',
                    traditional: true,
                    success: function (returnedData) {
                        replaceRegionContents(div, returnedData);
                    }
                });
            }

            // Adds or deletes details to/from the parent record, e.g. a desk to/from an Analyst
            function changeDetail(postUrl, getUrl, div) {
                $("#ajaxError").hide();
                $.ajax({
                    type: "POST",
                    url: postUrl,
                    dataType: 'html',
                    traditional: true,
                    success: function (returnedData) {
                        if(returnedData=='OK') {
                            getDetail(getUrl, div); // Get the new detail
                        } else {
                            $("#ajaxErrorMsg").text(returnedData);
                            $("#ajaxError").show();
                        }
                    }
                });
            }

            // Uploads detail to the parent record, e.g. a profile image to an Analyst
            function uploadDetail(postUrl, getUrl, div, form, field) {

                // Hide any existing errors
                $("#ajaxError").hide();

                // Show a loading message
                $.blockUI({ message: $('#domMessage') });

                $(form)
                .ajaxSubmit({
                    url:    postUrl,
                    type:   "POST",
                    dataType: "text",
                    success: function (returnedData) {
                        if(returnedData=='OK') {
                            getDetail(getUrl, div); // Get the new detail
                            $(field).val(""); // Reset the field
                            setTimeout($.unblockUI, 500); // Remove the loading message (after 500 ms)
                        } else {
                            setTimeout($.unblockUI, 500); // Remove the loading message (after 500 ms)
                            $("#ajaxErrorMsg").text(returnedData);
                            $("#ajaxError").show();
                        }
                    }
                });
            }

            // Replace the HTML content of the region (this function needs to be below any calls to it)
            function replaceRegionContents(regionId, newContent) {
                $(regionId).empty();                // Clear
                $(newContent).appendTo(regionId);   // Repopulate
            }

        </script>

    </body>
</html>
