@(title: String, user: Users)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=9" /> <!-- Fix to allow Twitter Bootstrap to work in IE10 -->

        <!-- css -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap-theme.min.css")">
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">

    </head>

    <body>

        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">SNO2</a>
                <a href="@routes.Application.index()">Home</a>
                <a href="/analysts">Analysts</a>
            </h1>
        </header>

        <header>
            <dl id="user">
                <dt>@user.username <span>(@user.email)</span></dt>
                <dd>
                    <a href="@routes.Application.logout()">Logout</a>
                </dd>
            </dl>
        </header>

        <section id="main">
            @content
        </section>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="//code.jquery.com/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.js")'></script>
        <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap.min.js")'></script>

    </body>
</html>
