@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=9" /> <!-- Fix to allow Twitter Boostrap to work in IE10 -->

    <!-- css -->
    <link rel="stylesheet" type="text/css" media="screen" href='../stylesheets/bootstrap.min.css")' />
    <link rel="stylesheet" type="text/css" media="screen" href='../stylesheets/bootstrap.css")'>
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.min.css")' />
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/bootstrap-responsive.css")'>
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/msgBoxLight.css")'>
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/jquery-ui-1.9.2.css")'>
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/jquery-ui-1.8.23.css")'>
    <link rel="stylesheet" type="text/css" media="screen" href='@routes.Assets.at("stylesheets/jquery-ui-demo-docs-theme.css")'>

    <!-- ??? -->
    <link rel="shortcut icon"                                   href='@routes.Assets.at("icons/favicon.ico")'>
    <link rel="apple-touch-icon-precomposed" sizes="144x144"    href='@routes.Assets.at("icons/apple-touch-icon-144-precomposed.png")'>
    <link rel="apple-touch-icon-precomposed" sizes="114x114"    href='@routes.Assets.at("icons/apple-touch-icon-114-precomposed.png")'>
    <link rel="apple-touch-icon-precomposed" sizes="72x72"      href='@routes.Assets.at("icons/apple-touch-icon-72-precomposed.png")'>
    <link rel="apple-touch-icon-precomposed"                    href='@routes.Assets.at("icons/apple-touch-icon-57-precomposed.png")'>

    <!--scripts-->
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-1.8.3.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-ui-1.9.2.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery-ui-1.8.23.min.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.ui.datepicker.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.autocomplete.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/jquery.msgBox.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap-dropdown.js")'></script>
    <script type="text/javascript" src='@routes.Assets.at("javascripts/bootstrap-tab.js")'></script>

    <script>
        $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: "dd-mm-yy", firstDay: 1 });
        });
        function confirmDelete() {
        if (confirm("DELETE this record?")==false) {
        return false;
        }
        };
        function confirmCancelChanges() {
        if (confirm("Cancel any changes?")==false) {
        return false;
        }
        };
        function confirmSaveChanges() {
        if (confirm("Save changes?")==false) {
        return false;
        } else {
        return true;
        }
        };
    </script>

    <!-- more styles -->
    <style>
        body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        }
    </style>

</head>

<body>
            <a href="@routes.Application.index()">SNO2</a>
            <div class="nav-collapse">
                <ul class="nav">
                    <li><a href="@routes.Application.index()">Home</a></li>
                    <li><a href="/analysts">Analysts</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container">

        @content
</div> <!-- /container -->

</body>
</html>
